﻿@model Phone_Accessories.ViewModels.Products.CreateProduct
@using Phone_Accessories.Application.Categories
@using Phone_Accessories.Application.Colors
@using Phone_Accessories.Application.Sizes
@inject ICategoryService categoryService
@inject IColorService colorService
@inject ISizeService sizeService
@{
    ViewData["Title"] = "Create";    
    var categories = await categoryService.GetAll();
    var colors = await colorService.GetAll();
    var sizes = await sizeService.GetAll();
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" id="projectImage" name="files" multiple class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Color</label>
                <select class="form-select" aria-label="Default select example" asp-for="ColorId" asp-items="@(new SelectList(colors,"Id","Name"))">
                    <option selected>Open this select color menu</option>

                </select>

            </div>

            <div>
                <label class="control-label">Size</label>
                <select class="form-select" aria-label="Default select example" asp-for="SizeId" asp-items="@(new SelectList(sizes,"Id","Name"))">
                    <option selected>Open this select size menu</option>

                </select>

            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionPrice" class="control-label"></label>
                <input asp-for="PromotionPrice" class="form-control" />
                <span asp-validation-for="PromotionPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="control-label">Category</label>
                <select class="form-select" aria-label="Default select example" asp-for="CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
                    <option selected>Open this select category menu</option>

                </select>

            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn-warning btn">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
