﻿@model IEnumerable<Phone_Accessories.ViewModels.Orders.ViewOrderBasic>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table">
    <thead>
        <tr>
           
            <th>
               Họ tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Trạng thái
            </th>
            
            <th>
                Ngày đặt
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.NameUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @{
                    var lableStatus = "<span class='badge badge-warning'>Chờ duyệt</span>";
                    if(item.Status == true)
                        lableStatus = "<span class='badge badge-success'>Đã duyệt</span>";
                    if(item.Status == null)
                        lableStatus = "<span class='badge badge-danger'>Đã hủy</span>";
                }

                @Html.Raw(@lableStatus)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
           
            <td>
               <a asp-action="GetById" class="btn-primary btn" asp-controller="Order" asp-route-id="@item.Id">Chi tiết</a> |
               <a asp-action="Update" class="btn-success btn" asp-controller="Order" asp-route-id="@item.Id">Xác nhận</a> |
               <a asp-action="Reject" class="btn-danger btn" asp-controller="Order" asp-route-id="@item.Id">Hủy</a> 
            </td>
        </tr>
}
    </tbody>
</table>

