﻿@model Phone_Accessories.ViewModels.Orders.ViewOrder

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table">
    <thead>
        <tr>

            <th>
                Họ tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Trạng thái
            </th>

            <th>
                Ngày đặt
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
                @Model.NameUser
            </td>
            <td>
                @Model.Phone
            </td>
            <td>
                @Model.Address
            </td>
            <td>
                @Model.Status
            </td>

            <td>
                @Model.CreatedOn
            </td>

            <td>

                <a asp-action="Update" class="btn-success btn" asp-controller="Order" asp-route-id="@Model.Id">Xác nhận</a> |
                <a asp-action="Reject" class="btn-danger btn" asp-controller="Order" asp-route-id="@Model.Id">Hủy</a>

            </td>
        </tr>
    </tbody>
</table>

<table class="table" id="tblCustomers">
    <thead>
        <tr>

            <th>
                Tên
            </th>
            <th>

            </th>
            <th>
                Màu
            </th>
            <th>
                Kích thước
            </th>

            <th>
                Số lượng
            </th>
             <th>
                Giá
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(@item.Image);
                        var imgSrc = string.Format("data:imgae/jpg;base64,{0}", base64);
                    }
                    <img src="@imgSrc" height=50 width=50 />
                </td>
                <td>
                    @item.Color.Name
                </td>
                <td>
                    @item.Size.Name
                </td>

                <td>
                    @item.Quantity
                </td>

                 <td>
                     @{
                        var promotionPrice = @Math.Ceiling(@item.Price * Convert.ToDecimal((double)@item.PromotionPrice / 100));
                        var priceAfter = @Math.Ceiling(@item.Price - promotionPrice);
                        var priceAllOne = @Math.Ceiling(priceAfter * item.Quantity);
                    }
                    <span id="priceOne_@item.Id">@priceAllOne</span>
                </td>
            </tr>
        }
    </tbody>
     <tfoot>
        <tr>
            <td>
                Tổng tiền: <span id="totalPrice"></span> VND
            </td>
        </tr>
    </tfoot>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        $('#totalPrice').text(totalPrice());
    });


    function totalPrice(){
        var total = 0;
        $("#tblCustomers TBODY TR").each(function () {
            total += parseInt($(this).find("td:eq(5) span").text());
         });

        return total;
    }

     
</script>