﻿@model Phone_Accessories.ViewModels.Categories.CategoryVm

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới danh mục</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" /> 
                <a asp-action="Index" class="btn-warning btn">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
