<form [formGroup]="postForm" (ngSubmit)="Create()">

    <div class="mb-3 col-lg-6">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title">
        <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="text-danger">

            <div *ngIf="title?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>

    <div class="mb-3 col-lg-6">
        <label class="form-label">ShortDescription</label>
        <input type="text" class="form-control" formControlName="shortDescription">
        <div *ngIf="shortDescription?.invalid && (shortDescription?.dirty || shortDescription?.touched)" class="text-danger">

            <div *ngIf="shortDescription?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>

    <div class="mb-3 col-lg-6">
        <label class="form-label">UrlSlug</label>
        <input type="text" class="form-control" formControlName="urlSlug">
        <div *ngIf="urlSlug?.invalid && (urlSlug?.dirty || urlSlug?.touched)" class="text-danger">

            <div *ngIf="urlSlug?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>

    <div class="mb-3 col-lg-6">
        <label class="form-label">Tag</label>
        <input type="text" class="form-control" formControlName="tags">
        <div *ngIf="tags?.invalid && (tags?.dirty || tags?.touched)" class="text-danger">

            <div *ngIf="tags?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>

    <div class="mb-3 col-lg-6">
        <label class="form-label">Category</label>
        <select class="form-select" formControlName="categoryId">
            <option *ngFor="let item of categories" [ngValue]="item.id">{{item.name}}</option>
        </select>
        <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)" class="text-danger">

            <div *ngIf="categoryId?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>

    <div class="mb-3 col-lg-6">
        <label class="form-label">PostContent</label>
        <ckeditor [editor]="Editor" formControlName="postContent"></ckeditor>
        <div *ngIf="postContent?.invalid && (postContent?.dirty || postContent?.touched)" class="text-danger">

            <div *ngIf="postContent?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Create</button>
</form>