﻿
<div class="btn-group mt-3" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-primary" asp-action="Index" asp-controller="RoleManager" asp-area="Admin">Role Manager</a>
    <a type="button" class="btn btn-primary" asp-action="Index" asp-controller="UserRoles" asp-area="Admin">User Roles</a>

</div>
