﻿@model JustBlog.ViewModels.Categories.CategoryVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["InforUpdate"] != null)
{
    <div class="alert alert-danger">@TempData["InforUpdate"]</div>
}
<div class="row mt-5">
    <div class="col-md-4 m-auto alert alert-dark">
        <h5>Edit Category</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4 m-auto border">
        <form asp-action="Edit" class="m-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="UrlStug" class="form-label"></label>
                <input asp-for="UrlStug" class="form-control" />
                <span asp-validation-for="UrlStug" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



