﻿@model leave_management.Models.CreateLeaveRequestVM

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Create Leave Requests</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2 mr-4 ms-4">
                <div class="table-responsive p-0">
                    <form asp-action="Create" class="m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @*<div class="input-group input-group-outline form-group">
                                @Html.DropDownListFor(q => q.LeaveTypeId, new SelectList(Model.LeaveTypes, "Value", "Text"), "Leave Type", new { @class = "form-control"})
                                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                            </div>*@
                        <div class="mb-3">
                            <select style="height:40px;" class="form-select pl-2" aria-label="Default select example" asp-for="LeaveTypeId" asp-items="@(new SelectList(Model.LeaveTypes,"Value","Text"))">
                            </select>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-outline">
                                    @*<label asp-for="StartDate" class="form-label"></label>*@
                                    <div class="input-group input-group-outline form-group">
                                        <input style="height:40px;" asp-for="StartDate" class="form-control datepicker" placeholder="StartDate" />
                                    </div>
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-outline form-group">
                                    @*<label asp-for="EndDate" class="form-label"></label>*@
                                    <div class="input-group input-group-outline form-group">
                                        <input style="height:40px;" asp-for="EndDate" class="form-control datepicker" placeholder="EndDate" />
                                    </div>
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group input-group-outline form-group">
                            @*<label asp-for="RequestComments" class="form-label"></label>*@
                            <textarea asp-for="RequestComments" class="form-control" placeholder="Comments"></textarea>
                            <span asp-validation-for="RequestComments" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <input type="submit" value="Request Leave" class="btn btn-primary btn-block" />
                            <a class="btn btn-secondary btn-block" asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFomat: "yy-mm-dd"
            });
        });
    </script>
}
