﻿@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}
@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}
@if (TempData["Info"] != null)
{
    <div class="alert alert-success alert-dismissible text-white" role="alert">
        @TempData["Info"]
        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br />
}
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Total Requests</p>
                    <h4 class="mb-0">@Model.TotalRequests</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3 mt-2">
                <p class="mb-0" style="text-align:center;">
                    @Html.DisplayNameFor(model => model.TotalRequests)
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-warning shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Pending Requests</p>
                    <h4 class="mb-0">@Model.PendingRequests</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3 mt-2">
                <p class="mb-0" style="text-align:center;">
                    @Html.DisplayNameFor(model => model.PendingRequests)
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    @*<i class="material-icons opacity-10">weekend</i>*@
                    <i class="far fa-check-circle"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Approve Requests</p>
                    <h4 class="mb-0">@Model.ApprovedRequests</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3 mt-2">
                <p class="mb-0">
                    @Html.DisplayNameFor(model => model.ApprovedRequests)
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-danger shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    @*<i class="material-icons opacity-10">weekend</i>*@
                    <i class="far fa-times-circle"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Reject Requests</p>
                    <h4 class="mb-0">@Model.RejectedRequests</h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3 mt-2">
                <p class="mb-0">
                    @Html.DisplayNameFor(model => model.RejectedRequests)
                </p>
            </div>
        </div>
    </div>
</div>



<br />
<br />


<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">List Requests</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <form asp-area="" asp-controller="LeaveRequests" asp-action="Index" method="get">
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">

                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
            <table class="table align-items-center mb-0 p-5 w-100">
                <thead>
                    <tr>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Leave Type
                        </th>
                        <th>
                            Date Requested
                        </th>

                        <th>
                            Approval Status
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LeaveRequests)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateRequested)
                            </td>
                            <td>
                                @if (item.Cancelled)
                                {
                                    <span class="badge badge-secondary">Cancelled</span>
                                }
                                else if (item.Approved == true)
                                {
                                    <span class="badge badge-success">Approved</span>
                                }
                                else if (item.Approved == false)
                                {
                                    <span class="badge badge-danger">Rejected</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">Pending Approval</span>
                                }
                            </td>
                            <td>
                                @if (!item.Cancelled)
                                {
                                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="fa fa-file"></i> &nbsp; Review
                                    </a>
                                }


                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    @{
                                        string url = "#";
                                        if (Model.PageIndex > 1)
                                        {
                                            url = $"/LeaveRequests/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="@url" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= Model.ToTalPage; i++)
                                    {
                                        url = $"/LeaveRequests/index?keyword={keyword}&&pageIndex={i}";
                                        var active = Model.PageIndex == i ? "active" : "";
                                        <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                                    }
                                    <li class="page-item">
                                        @{
                                            if (Model.PageIndex < Model.ToTalPage)
                                            {
                                                url = $"/LeaveRequests/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                            }
                                        }
                                        <a class="page-link" href="@url" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
