﻿@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "MyLeave";
}
@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}
@if (TempData["Info"] != null)
{
    <div class="alert alert-success alert-dismissible text-white" role="alert">
        @TempData["Info"]
        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br />
}
<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">My Leave Allocation</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <div class="jumbotron">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model.LeaveAllocations)
                        {
                            <li class="list-group-item">
                                <h6>@item.LeaveType.Name <span class="badge badge-secondary">@item.NumberOfDays</span>    </h6>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">My Leave Records</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <form asp-area="" asp-controller="LeaveRequests" asp-action="MyLeave" method="get">
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">

                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
            <table class="table align-items-center mb-0 p-5 w-100">
                <thead>
                    <tr>
                        <th>
                            Leave Type
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Date Requested
                        </th>

                        <th>
                            Approval State
                        </th>

                        <th>
                            Cancel Request
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LeaveRequests)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DateRequested, new { @value = item.DateRequested.ToString("yyyy-mm-dd") })
                            </td>

                            <td>
                                @if (item.Cancelled)
                                {
                                    <span class="badge badge-secondary">Cancelled</span>
                                }
                                else if (item.Approved == true)
                                {
                                    <span class="badge badge-success">Approved</span>
                                }
                                else if (item.Approved == false)
                                {
                                    <span class="badge badge-danger">Rejected</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">Pending Approval</span>
                                }
                            </td>

                            <td>
                                @if ((!item.Cancelled && item.StartDate > DateTime.Now))
                                {
                                    <a asp-action="CancelRequest" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel this request?')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    @{
                                        string url = "#";
                                        if (Model.PageIndex > 1)
                                        {
                                            url = $"/LeaveRequests/MyLeave?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="@url" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        url = $"/LeaveRequests/MyLeave?keyword={keyword}&&pageIndex={i}";
                                        var active = Model.PageIndex == i ? "active" : "";
                                        <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                                    }
                                    <li class="page-item">
                                        @{
                                            if (Model.PageIndex < Model.TotalPage)
                                            {
                                                url = $"/LeaveRequests/MyLeave?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                            }
                                        }
                                        <a class="page-link" href="@url" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
