﻿@using JustBlog.ViewModels.Posts
@using JustBlog.Application.Categories
@inject ICategoryService categoryService

@model PostVm

@{
    var categories = categoryService.GetAll();
}

<form asp-area="Admin" asp-controller="Post" asp-action="Create">
    <h3>Create Post</h3>
    @if (TempData["InforCreate"] != null)
    {
        <div class="alert alert-danger">@TempData["InforCreate"]</div>
    }
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Title" onchange="ChangeUrl('Title','UrlSlug')">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UrlSlug" class="form-label"></label>
        <input type="text" class="form-control" asp-for="UrlSlug">
        <span asp-validation-for="UrlSlug" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ShortDescription" class="form-label"></label>
        <textarea class="form-control" asp-for="ShortDescription" rows="5"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" asp-for="CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
            <option selected>Open this select category menu</option>

        </select>

    </div>
    <div class="mb-3">
        <label asp-for="Tags" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Tags">
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <textarea asp-for="PostContent" id="editor"></textarea>
        <span asp-validation-for="PostContent" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
