﻿@model JustBlog.ViewModels.Posts.PostVm
@using JustBlog.ViewModels.Categories
@using JustBlog.Application.Categories
@inject ICategoryService categoryService;


@{
    var categories = categoryService.GetAll();
}
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Post</h1>

<hr />
@if (TempData["InforUpdate"] != null)
{
    <div class="alert alert-danger">@TempData["InforUpdate"]</div>
}
<div class="row">
    <div class="col-md-10 m-auto">
        <form asp-action="Edit" asp-controller="Post" asp-area="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3" hidden>
                <input type="text" class="form-control" asp-for="Id">
            </div>
            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" onchange="ChangeUrl('Title','UrlSlug')" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="ShortDescription" class="form-label"></label>
                    <input asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="UrlSlug" class="form-label"></label>
                    <input asp-for="UrlSlug" class="form-control" />
                    <span asp-validation-for="UrlSlug" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Category" class="form-label"></label>
                    <select class="form-select" aria-label="Default select example" asp-for="CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
                        <option selected>Open this select category menu</option>

                    </select>

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Tags" class="form-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group form-check col-md-6 mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>


            <div class="mb-3">
                <label asp-for="PostContent" class="form-label"></label>
                <textarea asp-for="PostContent" id="editor"></textarea>
                <span asp-validation-for="PostContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


