﻿@using JustBlog.ViewModels.Posts
@using JustBlog.ViewModels.BaseEntityVm
@model PagedVm<PostVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success"> @TempData["Success"]</div>
}
<a class="btn btn-primary mt-3 mb-3" asp-action="Create" asp-controller="Post" asp-area="Admin">Create Post</a>
<div class="card">
    <div class="card-header">

        <form asp-area="Admin" asp-controller="Post" asp-action="Index" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                @*<select>
                        <option value="value"> Find By Title</option>
                        <option value="value"> Find By Content</option>
                    </select>*@
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Title</th>
                    <th>Created On</th>
                    <th>Update On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{int dem = 0; }
                @foreach (var post in Model.Data)
                {
                    <tr>
                        <td>@(++dem)</td>
                        <td>@post.Title</td>
                        <td>@post.CreatedOn.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@post.UpdatedOn.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn  btn-danger" asp-action="Delete" asp-controller="Post" asp-area="Admin" asp-route-id="@post.Id">Delete</a>
                                <a class="btn  btn-warning" asp-action="Edit" asp-controller="Post" asp-area="Admin" asp-route-id="@post.Id">Edit</a>
                                @if (post.IsDeleted)
                                {
                                    <a class="btn  btn-success" asp-action="Publish" asp-controller="Post" asp-area="Admin" asp-route-id="@post.Id">Publish</a>
                                }
                                else
                                {
                                    <a class="btn  btn-success" asp-action="UnPublish" asp-controller="Post" asp-area="Admin" asp-route-id="@post.Id">UnPublish</a>
                                }

                            </div>
                        </td>
                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                @{
                                    string url = "#";
                                    if (Model.PageIndex > 1)
                                    {
                                        url = $"/admin/post/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                                    }
                                }
                                <li class="page-item">
                                    <a class="page-link" href="@url" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    url = $"/admin/post/index?keyword={keyword}&&pageIndex={i}";
                                    var active = Model.PageIndex == i ? "active" : "";
                                    <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                                }
                                <li class="page-item">
                                    @{
                                        if (Model.PageIndex < Model.TotalPage)
                                        {
                                            url = $"/admin/post/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                        }
                                    }
                                    <a class="page-link" href="@url" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



@*<a class="btn btn-warning" asp-action="Edit" asp-controller="Post" asp-route-id="@item.Id">Edit</a>*@
