﻿@{
    ViewData["Title"] = "Home Page";
}
@using JustBlog.ViewModels.Posts
@using JustBlog.ViewModels.BaseEntityVm
@model PagedVm<PostVm>
@using JustBlog.Application.Tags
@using JustBlog.Application.Categories
@inject ITagService tagService
@inject ICategoryService categoryService


@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        @foreach (var post in Model.Data)
        {
            <!-- Post preview-->
            <div class="post-preview">
                <a asp-action="PostDetails" asp-controller="Post" asp-route-id="@post.Id">
                    <h2 class="post-title">@post.Title</h2>
                    <h3 class="post-subtitle">@post.ShortDescription</h3>
                </a>
                <p class="post-meta">
                    Posted: @post.PostedOn

                    with rate @(post.TotalRate / post.RateCount)
                    by @post.ViewCount view(s)
                </p>
            </div>

            var category = categoryService.GetById(post.CategoryId);

            <a asp-action="GetPostsByCategory" asp-controller="Post" asp-route-id="@category.Id">Category: @category.Name</a>

            <br />
            <br />

            var tags = tagService.GetTagByPost(post.Id);
            var tagNames = tags.Split(';');


            <ul class="list-group list-group-horizontal">
                Tags: &nbsp;
                @foreach (var tag in tagNames)
                {
                    <li class="list-group-item active"><a asp-action="GetPostsByTagName" asp-controller="Post" asp-route-tagName="@tag">@tag</a></li>

                }

            </ul>



            <!-- Divider-->
            <hr class="my-4" />
        }

        <div class="d-flex justify-content-end mb-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    @{
                        string url = "#";
                        if (Model.PageIndex > 1)
                        {
                            url = $"/home/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                        }
                    }
                    <li class="page-item">
                        <a class="page-link" href="@url" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        url = $"/home/index?keyword={keyword}&&pageIndex={i}";
                        var active = Model.PageIndex == i ? "active" : "";
                        <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                    }
                    <li class="page-item">
                        @{
                            if (Model.PageIndex < Model.TotalPage)
                            {
                                url = $"/home/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                            }
                        }
                        <a class="page-link" href="@url" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
