<div class="border">
    <form [formGroup]="categoryForm" (ngSubmit)="Update()" class="m-5">
        <div class="mb-3 col-lg-6">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [value]="category?.name" formControlName="name">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">

                <div *ngIf="name?.errors?.required">
                    This feld is required.
                </div>

            </div>
        </div>

        <div class="mb-3 col-lg-6">
            <label class="form-label">UrlStug</label>
            <input type="text" class="form-control" [value]="category?.urlStug" formControlName="urlStug">
            <div *ngIf="urlStug?.invalid && (urlStug?.dirty || urlStug?.touched)" class="text-danger">

                <div *ngIf="urlStug?.errors?.required">
                    This feld is required.
                </div>

            </div>
        </div>

        <div class="mb-3 col-lg-6">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" [value]="category?.description" formControlName="description">
            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">

                <div *ngIf="description?.errors?.required">
                    This feld is required.
                </div>

            </div>
        </div>

        <div class="mb-3 col-lg-6">
            <label class="form-label">IsDeleted</label>
            <input type="text" class="form-control" [value]="category?.isDeleted" formControlName="isDeleted">
            <div *ngIf="isDeleted?.invalid && (isDeleted?.dirty || isDeleted?.touched)" class="text-danger">

                <div *ngIf="isDeleted?.errors?.required">
                    This feld is required.
                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Update</button>
    </form>
</div>