﻿@using JustBlog.Application.Posts
@inject IPostService postService

@{
    if (TempData["PostDetailId"] != null)
    {
        var post = postService.GetById((int)TempData["PostDetailId"]);

        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>@post.Title</h1>
                            <span class="subheading">@post.ShortDescription</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }

    else
    {
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }
}

