﻿@using JustBlog.Application.Categories
@inject ICategoryService categoryService
@{
    var categories = categoryService.GetAll();
}

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Just Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="AboutCard" asp-controller="Home">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="MostViewedPosts" asp-controller="Post">Most View Post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="LatesPosts" asp-controller="Post">Lates Post</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link px-lg-3 py-3 py-lg-4 dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        @foreach (var category in categories)
                        {
                            <li><a class="dropdown-item" asp-action="GetPostsByCategory" asp-controller="Post" asp-route-id="@category.Id">@category.Name</a></li>
                        }
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="PopularTags" asp-controller="Tag">Tag Top</a></li>
                <partial name="_LoginPartial" />
            </ul>
            
        </div>
    </div>
</nav>
