﻿@model JustBlog.ViewModels.Comments.CommentVm
@using JustBlog.ViewModels.Categories
@using JustBlog.Application.Posts
@inject IPostService postService

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    var posts = postService.GetAll();
}
<h1>Create comment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CommentHeader" class="form-label"></label>
                <input asp-for="CommentHeader" class="form-control" />
                <span asp-validation-for="CommentHeader" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CommentText" class="form-label"></label>
                <input asp-for="CommentText" class="form-control" />
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" asp-for="PostId" asp-items="@(new SelectList(posts,"Id","Title"))">
                    <option selected>Open this select category menu</option>

                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


