﻿@using JustBlog.ViewModels.BaseEntityVm
@using JustBlog.ViewModels.Comments
@model PagedVm<CommentVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success"> @TempData["Success"]</div>
}

<p class="mt-3">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Comment
            </th>

            <th>
                CommentTime
            </th>

            <th>
                CreatedOn
            </th>
            <th>
                UpdatedOn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CommentTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Comment" asp-area="Admin" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        @{
                            string url = "#";
                            if (Model.PageIndex > 1)
                            {
                                url = $"/admin/comment/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                            }
                        }
                        <li class="page-item">
                            <a class="page-link" href="@url" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            url = $"/admin/comment/index?keyword={keyword}&&pageIndex={i}";
                            var active = Model.PageIndex == i ? "active" : "";
                            <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                        }
                        <li class="page-item">
                            @{
                                if (Model.PageIndex < Model.TotalPage)
                                {
                                    url = $"/admin/comment/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                }
                            }
                            <a class="page-link" href="@url" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
