﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_login.cshtml";
}

<div class="hold-transition register-page" style="margin-top:100px;">
    <div class="register-box col-lg-6 m-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Create Account</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2 mr-4 ms-4">
                <div class="table-responsive p-0">
                    <div class="card">
                        <div class="card-body register-card-body">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <form method="post">
                                <div class="input-group mb-3">
                                    <input style="height:40px;" asp-for="Input.FirstName" class="form-control" placeholder="First name">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input style="height:40px;" asp-for="Input.LastName" class="form-control" placeholder="Last name">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input style="height:40px;" asp-for="Input.Email" class="form-control" placeholder="Email">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input style="height:40px;" asp-for="Input.Password" class="form-control" placeholder="Password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input style="height:40px;" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Retype password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                               
                                <div class="row">
                                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                                    <a asp-page="./Login" class="text-center btn btn-primary">I already have an account</a>
                                    <!-- /.col -->
                                </div>
                            </form>
                        </div>
                        <!-- /.form-box -->
                    </div><!-- /.card -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.register-box -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}

