﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="row">
    <div class="col-md-4 m-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Reset Password</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2 mr-4 ms-4">
                <div class="table-responsive p-0">
                    <form method="post" class="m-1">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="input-group mb-3">

                            <input style="height:40px;" asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">

                            <input style="height:40px;" asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">

                            <input style="height:40px;" asp-for="Input.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
