﻿@model leave_management.Models.DetailsLeaveTypeVM

@{
    ViewData["Title"] = "Create";
}

<div class="row">

    <div class="col-md-4 m-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Create Type</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2 mr-4 ms-4">
                <div class="table-responsive p-0">
                    <form asp-action="Create" class="m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="input-group input-group-outline form-group mb-3">
                            <div class="input-group input-group-outline form-group">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" style="height:40px;" />
                            </div>
                           
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="input-group input-group-outline form-group mb-4">
                            <div class="input-group input-group-outline form-group">
                                <label asp-for="DefaultDays" class="form-label"></label>
                                <input asp-for="DefaultDays" class="form-control" style="height:40px;" />
                            </div>
                            <span asp-validation-for="DefaultDays" class="text-danger"></span>
                           

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-primary" style="margin-left:75px;">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
