﻿@model leave_management.Models.DetailsLeaveTypeVM

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4 m-auto">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Edit Type</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2 mr-4 ms-4">
                <div class="table-responsive p-0">
                    <form asp-action="Edit" class="m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="DateCreated" />
                        <div class="input-group input-group-outline form-group">
                            
                            <input asp-for="Name" class="form-control" placeholder="Name" style="height:40px;" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="input-group input-group-outline form-group">
                           
                            <input asp-for="DefaultDays" class="form-control" placeholder="DefaultDays" style="height:40px;"/>
                            <span asp-validation-for="DefaultDays" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
