﻿@*@model IEnumerable<leave_management.Models.DetailsLeaveTypeVM>*@
@model PagedVm<DetailsLeaveTypeVM>
@{
    ViewData["Title"] = "Index";
}
@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}
@if (TempData["Info"] != null)
{
    <div class="alert alert-success alert-dismissible text-white" role="alert">
        @TempData["Info"]
        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create New</a>
</p>

<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">List Types</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <form asp-area="" asp-controller="LeaveTypes" asp-action="Index" method="get">
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">

                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
            <table class="table align-items-center mb-0 p-5 w-100">
                <thead>
                    <tr>
                        <th class="w-50">
                            Name
                        </th>
                        <th class="w-20" style="text-align:center;">
                            DefaultDays
                        </th>
                        <th class="w-30 pl-3"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td class="w-50">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="w-20" style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.DefaultDays)
                            </td>
                            <td class="w-30 pl-3">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Delete ?')" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    @{
                                        string url = "#";
                                        if (Model.PageIndex > 1)
                                        {
                                            url = $"/LeaveTypes/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="@url" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        url = $"/LeaveTypes/index?keyword={keyword}&&pageIndex={i}";
                                        var active = Model.PageIndex == i ? "active" : "";
                                        <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                                    }
                                    <li class="page-item">
                                        @{
                                            if (Model.PageIndex < Model.TotalPage)
                                            {
                                                url = $"/LeaveTypes/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                            }
                                        }
                                        <a class="page-link" href="@url" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}


