<div class="row">
    <div class="col-md-5 m-auto border mt-5">
        <form [formGroup]="loginForm" (ngSubmit)="submit()" class="m-3">
            <h3 class="text-center">Login Form</h3>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-success btn-sm">Submit</button>
        </form>
    </div>
</div>