﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group input-group-outline form-group">
                <input style="height:40px;" asp-for="Input.OldPassword" class="form-control" placeholder="Current Password"/>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="input-group input-group-outline form-group">
                
                <input style="height:40px;" asp-for="Input.NewPassword" class="form-control" placeholder="New Password"/>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="input-group input-group-outline form-group">
              
                <input style="height:40px;" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm new Password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}