﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group input-group-outline form-group">
                <input style="height:40px;" asp-for="Username" class="form-control" disabled />
            </div>
            <div class="input-group input-group-outline form-group">
                <input style="height:40px;" asp-for="Input.FirstName" class="form-control" placeholder="FirstName"/>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="input-group input-group-outline form-group">
                <input style="height:40px;" asp-for="Input.LastName" class="form-control" placeholder="LastName" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="input-group input-group-outline form-group">
                <input style="height:40px;" asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}