﻿
@{
    ViewData["Title"] = "_ListPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<JustBlog.ViewModels.Posts.PostVm>
@using JustBlog.Application.Tags
@using JustBlog.Application.Categories
@inject ITagService tagService
@inject ICategoryService categoryService
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        @foreach (var post in Model)
        {
            <!-- Post preview-->
            <div class="post-preview">
                <a asp-action="PostDetails" asp-controller="Post" asp-route-id="@post.Id">
                    <h2 class="post-title">@post.Title</h2>
                    <h3 class="post-subtitle">@post.ShortDescription</h3>
                </a>
                <p class="post-meta">
                    Posted: @post.PostedOn

                    with rate @(post.TotalRate / post.RateCount)
                    by @post.ViewCount view(s)
                </p>
            </div>

            var category = categoryService.GetById(post.CategoryId);

            <a asp-action="GetPostsByCategory" asp-controller="Post" asp-route-id="@category.Id">Category: @category.Name</a>

            <br />
            <br />

            var tags = tagService.GetTagByPost(post.Id);
            var tagNames = tags.Split(';');


            <ul class="list-group list-group-horizontal">
                Tags: &nbsp;
                @foreach (var tag in tagNames)
                {
                    <a asp-action="GetPostsByTagName" asp-controller="Post" asp-route-tagName="@tag" class="list-group-item active">@tag</a>
                }

            </ul>
            <!-- Divider-->
            <hr class="my-4" />
        }

        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
    </div>
</div>
