﻿@{
    ViewData["Title"] = "_ListPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using JustBlog.Application.Comments
@inject ICommentService commentService
@model JustBlog.ViewModels.Posts.PostVm
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@Html.Raw(@Model.PostContent)

@{
    var comments = commentService.GetByPost(Model.Id);
}
<h1 class="comments-title mt-5">Comments (@comments.Count)</h1>
@if (SignInManager.IsSignedIn(User))
{
    @*<form asp-action="AddComment" asp-controller="Post" method="post">
            <div class="row">
                <input asp-for="Id" type="text" hidden>
                <div class="input-group mb-3">
                    <input asp-for="Comment" type="text" class="form-control" placeholder="Enter your comment">
                </div>
                <div class="input-group-append" hidden>
                    <button class="btn btn-success" type="submit">Go</button>
                </div>
            </div>
        </form>*@
        string name = UserManager.GetUserAsync(User).Result.UserName;
        <div class="row">
            <div class="input-group mb-3">
                <input id="comment" type="text"  class="form-control" placeholder="Enter your comment">
                <div class="input-group-append">
                    <button class="btn btn-success" onclick="AjaxForm('@name', '@DateTime.Now', '@Model.Id')" type="submit">Go</button>
                </div>
            </div>

        </div>
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="be-comment-block">

        <div class="be-comment">
            @*<div class="be-img-comment">
                    <a href="blog-detail-2.html">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                    </a>
                </div>*@
            <div class="be-comment-content cmt">
                @foreach (var item in comments)
                {
                    <span class="be-comment-name">
                        @item.Name
                    </span>
                    <span class="be-comment-time">
                        <i class="fa fa-clock-o"></i>
                        @item.CreatedOn
                    </span>

                    <p class="be-comment-text">
                        @item.CommentText
                    </p>
                }
            </div>

        </div>
    </div>
</div>
<script>
    function AjaxForm(name, date, postId) {
        var comment = $('#comment').val();

        $.ajax({
            type: "POST",
            url: "/Post/AddComment",
            data: { "commentText": comment, "postId": postId},
        });

        var html = `<span class="be-comment-name">
                                    ${name}
                                </span>
                                <span class="be-comment-time">
                                    <i class="fa fa-clock-o"></i>
                                    ${date}
                                </span>

                                <p class="be-comment-text">
                                    ${comment}
                                </p>`;

        var containerCmt = $('.cmt');

        containerCmt.append(html);
    }

</script>
