<div class="container-fluid">
    <div class="row">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-lg-2" style="min-height: 550px;">
            <a href="/" class="text-center link-dark text-decoration-none">

                <span class="fs-4">Dashboard</span>
            </a>
            <hr>
            <ul class="list-group list-group-flush">

                <li class="list-group-item text-center">
                    <a href="/category" class="nav-link link-dark">
                      Category Manager
                  </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/post" class="nav-link link-dark">
                       Post Manager
                  </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/tag" class="nav-link link-dark">
                     Tag Manager
                  </a>
                </li>
                <li class="list-group-item text-center">
                    <a href="/comment" class="nav-link link-dark">
                       Comment Manager
                  </a>
                </li>
            </ul>

        </div>

        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-lg-10" style="height: 800px; ">
            <div class="row">
                <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none col-lg-10">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                    <span class="fs-4"></span>
                </div>

                <div class="col-lg-2">

                    <span></span>
                </div>
            </div>

            <hr>

            <router-outlet></router-outlet>
            <notifier-container></notifier-container>

        </div>
    </div>
</div>