<button type="button" class="btn btn-success" [routerLink]="['/create-comment']">Create Comment</button>
<br>
<br>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>PostId</th>
            <th>CommentText</th>
            <th>CommentTime</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of comments;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.postId}}</td>
            <td>{{item.commentText}}</td>
            <td>{{item.commentTime | date}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger" (click)="deleteComment(item.id)">Delete</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/edit-tag',item.id]">Update</button>
                </div>
            </td>
        </tr>
    </tbody>

</table>