﻿@using Microsoft.AspNetCore.Identity
@using Phone_Accessories.Application.Colors
@using Phone_Accessories.Application.Sizes
@using Phone_Accessories.Models.Entity
@model Phone_Accessories.ViewModels.Products.ViewProduct
@inject UserManager<AppUser> userManager
@inject ISizeService sizeService
@inject IColorService colorService
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var base64 = Convert.ToBase64String(@Model.Image);
    var imgSrc = string.Format("data:imgae/jpg;base64,{0}", base64);
    var promotionPrice = @Math.Ceiling(@Model.Price * Convert.ToDecimal((double)@Model.PromotionPrice / 100));
    var priceAfter = @Math.Ceiling(@Model.Price - promotionPrice);
    string userId = "";
    var user = await userManager.GetUserAsync(User);
    if (user != null)
        userId = user.Id;

    var sizes = await sizeService.GetAll();
    var colors = await colorService.GetAll();
}
<div class="container single_product_container">
    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            <ul>
                                <li><img src="@imgSrc" alt="" data-image="images/single_1.jpg"></li>
                                <li class="active"><img src="@imgSrc" alt="" data-image="images/single_2.jpg"></li>
                                <li><img src="@imgSrc" alt="" data-image="images/single_3.jpg"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url(@imgSrc)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>@Model.Name</h2>
                    <p>@Model.Description...</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                <div class="original_price">@Model.Price VND</div>
                <div class="product_price">@priceAfter VND</div>
              
                <div class="product_color">
                    <span>Chọn màu:</span>
                    <div class="row ml-1">
                        @foreach(var color in colors)
                        {
                            var classColr = @Model.ColorId == @color.Id ? "btn-primary btn btn-sm col-2 m-1" : "btn-outline-primary btn btn-sm col-2 m-1";
                            <a asp-controller="Product" asp-action="GetByColor" asp-route-colorId="@color.Id" asp-route-name="@Model.Name" asp-route-sizeId="@Model.SizeId" asp-route-id="@Model.Id"  class="@classColr"> @color.Name</a>
                        }
                        
                    </div>
                </div>

                 <div class="product_color">
                    <span>Chọn kích thước:</span>
                    <div class="row ml-1">
                        @foreach(var size in sizes)
                        {
                            var classSize = @Model.SizeId == @size.Id ? "btn-primary btn btn-sm col-2 m-1" : "btn-outline-primary btn btn-sm col-2 m-1";
                            <a asp-controller="Product" asp-action="GetBySize"  asp-route-colorId="@Model.ColorId" asp-route-name="@Model.Name" asp-route-sizeId="@size.Id" asp-route-id="@Model.Id" class="@classSize" > @size.Name</a> 
                        }
                        
                    </div>
                </div>
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                    <span>Số lượng:</span>
                    <div class="quantity_selector">
                        <input id="quantityVal" class="form-control" type="number" value="1"/>
                    </div>
                    <div class="red_button add_to_cart_button1">
                          <a style="cursor: pointer; color:white !important;" onclick="addToCart('@userId', '@Model.Id')">Thêm giỏ hàng</a>  
                    </div>
                    <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>

</div>
@section css
{
<link rel="stylesheet" type="text/css" href="~/css/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/css/single_responsive.css">
}

<script type="text/javascript">
     function addToCart(userId, productId) {
         var quantity = $( "#quantityVal" ).val();
         $.ajax({
         type: 'POST',
         url: '/Cart/Create',
         contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
         data: { "userId": userId, "productId": productId, "quantity": quantity},
         success: function (result) {
             alert('Successfully');            
         },
         error: function () {
             alert('Failed');           
         }
     })
    }
</script>