﻿@using Microsoft.AspNetCore.Identity
@using Phone_Accessories.Models.Entity
@using Phone_Accessories.ViewModels.Orders
@using Phone_Accessories.ViewModels.Images
@model IEnumerable<Phone_Accessories.ViewModels.Products.ViewProduct>
@inject UserManager<AppUser> userManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userId = "";
    var user = await userManager.GetUserAsync(User);
    if (user != null)
        userId = user.Id;
}

 <a asp-action="GetByUserId" asp-controller="Order" asp-route-userId="@userId"  class="btn-success btn btn-sm">Đơn hàng của tôi</a>

<table class="table" id="tblCustomers">
    <thead>
        <tr>

            <th>
                Tên
            </th>
            <th>

            </th>
            <th>
                Màu sắc
            </th>
            <th>
                Kích cỡ
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá
            </th>
             <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @{
                        var base64 = Convert.ToBase64String(@item.Image);
                        var imgSrc = string.Format("data:imgae/jpg;base64,{0}", base64);
                    }
                    <img src="@imgSrc" height=50 width=50 />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Name)
                </td>
                <td>
                    @{
                        var promotionPrice = @Math.Ceiling(@item.Price * Convert.ToDecimal((double)@item.PromotionPrice / 100));
                        var priceAfter = @Math.Ceiling(@item.Price - promotionPrice);
                        var priceAllOne = @Math.Ceiling(priceAfter * item.Quantity);
                    }
                    <input id="quantityVal_@item.Id" onchange="changeQuantity('@priceAfter', '@item.Id')" class="form-control" style="width:20%;" type="number" value="@item.Quantity" />
                </td>

                <td>
                    <span id="priceOne_@item.Id">@priceAllOne</span>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-userId="@userId" asp-route-productId="@item.Id" class="btn-danger btn btn-sm">Xóa</a>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td>
                Tổng tiền: <span id="totalPrice"></span> VND
            </td>
        </tr>
    </tfoot>

</table>
<button class="btn-primary btn btn-sm mb-3" onclick="showPay()">Thanh toán</button>

<div id="checkPay">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="payOnl">
        <label class="form-check-label" for="payOnl">
            Thanh toán trực tuyến
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="payOff" checked>
        <label class="form-check-label" for="payOff">
            Thanh toán khi nhận hàng
        </label>
    </div>
</div>

@{
    var imgSrcPay = string.Format("data:imgae/jpg;base64,{0}", ImageCustoms.ImgPay);
}
<img id="imgPay" src="@imgSrcPay" height=200 width=200 />

<form id="formPay">
    <div class="form-group">
        <label>Họ tên</label>
        <input type="text" class="form-control" id="nameValue">
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" class="form-control" id="phoneValue">
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" class="form-control" id="addValue">
    </div>
    <a class="btn-primary btn" style="cursor: pointer; color:white !important;" onclick="createOrder('@userId')">Đặt Hàng</a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        $('#totalPrice').text(totalPrice());
        $("#checkPay").hide();
        $("#formPay").hide();
        $("#imgPay").hide();

        $('#payOnl').change(function() {
            if(this.checked) {
                $("#imgPay").show();
                $("#formPay").show();
            }
            $('#payOnl').val(this.checked);        
        });

        $('#payOff').change(function() {
            if(this.checked) {
                $("#imgPay").hide();
                $("#formPay").show();
            }
            $('#payOff').val(this.checked);        
        });
    });

    function showPay(){
        $("#checkPay").show();
    }

    function showForm(){
        $("#formPay").show();
    }

    function changeQuantity(pricevv, itemId){
        var priceMath = pricevv * $("#quantityVal_" + itemId).val();
        $("#priceOne_" + itemId).text(priceMath);
        $('#totalPrice').text(totalPrice());
    }

    function totalPrice(){
        var total = 0;
        $("#tblCustomers TBODY TR").each(function () {
            total += parseInt($(this).find("td:eq(6) span").text());
         });

        return total;
    }

     function createOrder(userId) {

        var customers = new Array();
        $("#tblCustomers TBODY TR").each(function () {

        var row = $(this);
        var customer = {};
        customer.Id = row.find("TD").eq(0).html();
        customer.Quantity = row.find("td:eq(5) input[type='number']").val();
        customers.push(customer);
        });
         var name = document.getElementById("nameValue").value;
         var phone = document.getElementById("phoneValue").value;
         var address = document.getElementById("addValue").value;

         $.ajax({
         type: 'POST',
         url: '/Order/Create',
         dataType: 'json',
         contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
         data: { "name": name, "phone": phone, "address": address, "userId": userId, "products": customers},
         success: function (result) {
             alert('Đặt hàng thành công');
         },
         error: function () {
             alert('Failed');
         }
     })
    }
</script>
