﻿@using Microsoft.AspNetCore.Identity
@using Phone_Accessories.Models.Entity
@model IEnumerable<Phone_Accessories.ViewModels.Orders.ViewOrderBasic>
@inject UserManager<AppUser> userManager

@{
    ViewData["Title"] = "GetByUserId";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userId = "";
    var user = await userManager.GetUserAsync(User);
    if (user != null)
        userId = user.Id;
}

<table class="table">
    <thead>
        <tr>
            
            <th>
                Người nhận
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Trạng thái
            </th>
           
            <th>
                Ngày đặt
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.NameUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @{
                    var lableStatus = "<span class='badge badge-warning'>Chờ duyệt</span>";
                    if(item.Status == true)
                        lableStatus = "<span class='badge badge-success'>Đã duyệt</span>";
                    if(item.Status == null)
                        lableStatus = "<span class='badge badge-danger'>Đã hủy</span>";
                }

                @Html.Raw(@lableStatus)
            </td>
           
          
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            
            <td>
                <a asp-action="GetById" asp-controller="Order" asp-route-id="@item.Id"  class="btn-primary btn btn-sm">Chi tiết</a>
                <a asp-action="Reject" asp-controller="Order" asp-route-id="@item.Id" asp-route-userId="@userId"  class="btn-danger btn btn-sm">Hủy</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
