<form [formGroup]="categoryForm" (ngSubmit)="Create()">

    <div class="mb-3 col-lg-6">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">

            <div *ngIf="name?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>

    <div class="mb-3 col-lg-6">
        <label class="form-label">UrlSlug</label>
        <input type="text" class="form-control" formControlName="urlStug">
        <div *ngIf="urlStug?.invalid && (urlStug?.dirty || urlStug?.touched)" class="text-danger">

            <div *ngIf="urlStug?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>

    <div class="mb-3 col-lg-6">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" formControlName="description">
        <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">

            <div *ngIf="description?.errors?.required">
                This field is required.
            </div>

        </div>
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Create</button>
</form>