﻿@using JustBlog.ViewModels.Tags
@using JustBlog.ViewModels.BaseEntityVm
@model PagedVm<TagVm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success"> @TempData["Success"]</div>
}

<p class="mt-4">
    <a asp-action="Create" class="btn btn-primary"> Create New</a>
</p>
<div class="card-header">

    <form asp-area="Admin" asp-controller="Tag" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            @*<select>
                    <option value="value"> Find By Title</option>
                    <option value="value"> Find By Content</option>
                </select>*@
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                UrlSlug
            </th>
            <th>
                Description
            </th>
            <th>
                Count
            </th>
            <th>
                Status
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                UpdatedOn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlSlug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Tag" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Tag" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-success" asp-action="Details" asp-controller="Tag" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        @{
                            string url = "#";
                            if (Model.PageIndex > 1)
                            {
                                url = $"/admin/tag/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                            }
                        }
                        <li class="page-item">
                            <a class="page-link" href="@url" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            url = $"/admin/tag/index?keyword={keyword}&&pageIndex={i}";
                            var active = Model.PageIndex == i ? "active" : "";
                            <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                        }
                        <li class="page-item">
                            @{
                                if (Model.PageIndex < Model.TotalPage)
                                {
                                    url = $"/admin/tag/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                }
                            }
                            <a class="page-link" href="@url" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
