<button type="button" class="btn btn-success" [routerLink]="['/create-category']">Create Category</button>
<br>
<br>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>UrlSlug</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of categories;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.urlStug}}</td>
            <td>{{item.description}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger" (click)="deleteCategory(item.id)">Delete</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/edit-category',item.id]">Update</button>
                </div>
            </td>
        </tr>
    </tbody>

</table>