﻿@{
    ViewData["Title"] = "_ListPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<JustBlog.ViewModels.Tags.TagVm>

<ul class="list-group list-group-horizontal">
    @foreach (var item in Model)
    {
        <li class="list-group-item active"> <a asp-action="GetPostsByTagName" asp-controller="Post" asp-route-tagName="@item.Name">@item.Name</a> </li>
    }

</ul>
