<button type="button" class="btn btn-success" [routerLink]="['/create-post']">Create Post</button>
<br>
<br>
<div class="input-group mb-3">
    <input type="text" #search class="form-control" placeholder="Search...">
    <button class="btn btn-primary" (click)="getPosts(1, search)" type="button">Search</button>
</div>

<br>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>UrlSlug</th>
            <th>ViewCount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of posts;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td>{{item.urlSlug}}</td>
            <td>{{item.viewCount}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger" (click)="deletePost(item.id)">Delete</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/edit-post',item.id]">Update</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li *ngIf="pageIndex > 1" class="page-item" style="cursor: pointer;"><a class="page-link" (click)="getPosts(pageIndex-1, search)">Previous</a></li>
        <ul class="pagination" *ngFor="let item of fakeArray; let i = index">
            <li style="cursor: pointer;" (click)="getPosts(i+1, search)" [class]="i+1 == pageIndex ? 'page-item active' : 'page-item'"><a class="page-link">{{i+1}}</a></li>
        </ul>
        <li *ngIf="pageIndex < pageTotal" style="cursor: pointer;" class="page-item"><a class="page-link" (click)="getPosts(pageIndex+1, search)">Next</a></li>
    </ul>
</nav>