﻿@model leave_management.Models.EditLeaveAllocationVM

@{
    ViewData["Title"] = "Edit";
}

<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Edit</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <div class="row m-1">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group input-group-outline form-group">
                            <input asp-for="NumberOfDays" class="form-control" placeholder="Number Of Day" />
                            <span asp-validation-for="NumberOfDays" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="EmployeeId" />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
