﻿@*@model IEnumerable<leave_management.Models.EmployeeVM>*@
@model PagedVm<EmployeeVM>
@{
    ViewData["Title"] = "ListEmployees";
}
@{
    string keyword = "";
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}
@if (TempData["Info"] != null)
{
    <div class="alert alert-success alert-dismissible text-white" role="alert">
        @TempData["Info"]
        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br />
}
<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">List Employees</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">

            <form asp-area="" asp-controller="LeaveAllocations" asp-action="ListEmployees" method="get">
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">

                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
            <table class="table align-items-center mb-0 p-5 w-100">
                <thead>
                    <tr>

                        <th>
                            Email
                        </th>

                        <th style="text-align:center;">
                            FirstName
                        </th>
                        <th style="text-align:center;">
                            LastName
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>

                            <td style="text-align:center;">
                                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    @{
                                        string url = "#";
                                        if (Model.PageIndex > 1)
                                        {
                                            url = $"/LeaveAllocations/ListEmployees?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="@url" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        url = $"/LeaveAllocations/ListEmployees?keyword={keyword}&&pageIndex={i}";
                                        var active = Model.PageIndex == i ? "active" : "";
                                        <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                                    }
                                    <li class="page-item">
                                        @{
                                            if (Model.PageIndex < Model.TotalPage)
                                            {
                                                url = $"/LeaveAllocations/ListEmployees?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                            }
                                        }
                                        <a class="page-link" href="@url" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
