﻿@using Microsoft.AspNetCore.Identity
@using leave_management.Data
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<ul class="navbar-nav  justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-body font-weight-bold px-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-user-alt"></i>
                <span class="d-sm-inline d-none">@User.Identity.Name</span>
            </a>
        </li>
        <li class="nav-item d-flex align-items-center mt-3">
            <form class="nav-link text-body font-weight-bold px-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link ">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="d-sm-inline d-none">Log Out</span>
                </button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-body font-weight-bold px-0" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-registered"></i>
                <span class="d-sm-inline d-none">Register &nbsp; &nbsp;</span>
            </a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-body font-weight-bold px-0" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-user"></i>
                <span class="d-sm-inline d-none">Sign In</span>
            </a>
        </li>
    }
</ul>
