﻿@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.chungta.vn/2019/10/17/anh-chon-5-1571302602_860x0.jpg" class="d-block w-100" height="620" alt="">
        </div>
        <div class="carousel-item">
            <img src="https://vcdn1-sohoa.vnecdn.net/2013/11/13/FPT-10-8283-1384344439.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=V1wRj9dZ93C3nAZywq_L7w" class="d-block w-100" height="620" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.fpt-software.com/wp-content/uploads/sites/2/2017/07/Fville-1.1.jpg" class="d-block w-100" height="620" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>